################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MidTerm/Test/Test.VC.VC.opendb
